html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 2px;
}

ul {
    padding: 0px;
}

ul#nav li span:hover, ul#nav li.active span {
    text-decoration: none;
    background: rgba(147, 154, 161, 0.47);
}

li span {
    padding: 5px;
    margin: 5px;
    width: 100%
}

#list-view {
    position: absolute;
    z-index: 1000;
    top: 10%;
    width: 20%;
    max-height: 80%;
    right: 1%;
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.45);
}

#geo-view {
    position: absolute;
    top: 1%;
    z-index: 1;
    left: 1%;
    width: 17em;
}

#street-image {
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
    bottom: 1%;
    left: 1%;
}

#street-image img {
    max-width: 100%;
    height: auto;
}

#wiki-image {
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
    top: 10%;
    left: 1%;
}

#wiki-image img {
    max-width: 100%;
    height: auto;
}