html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style: none;
    padding: 2px;
}

ul {
    padding: 0px;
}

ul#nav li span:hover, ul#nav li.active span, ul#geo-nav li span:hover, ul#geo-nav li.active span {
    text-decoration: none;
    background: rgba(147, 154, 161, 0.47);
}

li span {
    padding: 5px;
    margin: 5px;
    width: 100%
}

#list-view {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 30ex;
    height: auto;
    max-height: 100%;
    right: 1%;
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.45);
}

#list-arrow {
    position: absolute;
    top: 50%;
    margin-left: 1ex;
    cursor: pointer;
}

#list-proper {
    margin-left: 3ex;
}

#geo-view {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 1%;
    width: 12ex;
    background-color: rgba(200, 200, 200, 0.45);
}

#geo-view input {
    width: calc(100% - 10px);
    margin: 1px;
}

#images {
    width: 30%;
    position: absolute;
    left: 3px;
    bottom: 0%;
    z-index: 1;
}

#images img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    width: calc(50% - 2px);
}

.hidden {
    display: none;
}